<mat-toolbar color="primary" class="mat-toolbar">
  <span class="app-title">Calorie Tracker</span>
  <div class="toolbar-buttons">
    <button mat-icon-button class="image-button" (click)="home()">
      <img src='../../assets/home-button-white-icon.png' alt="Home" class="icon-image" />
    </button>
      <button class="boton" mat-stroked-button color="link" (click)="detail()">Detail</button>
      <button class="boton" mat-stroked-button color="warn" (click)="logout()">Log Out</button>
  </div>
</mat-toolbar>
